
<div class="row margin-top_medium">
    <div class="col s12">
        <div class="transactions">
            <div class="row margin-bottom_no">
                <div class="col s2">
                    <div class="margin-top_large">
                        <span class="js-contragent-title title">{{contragent}}</span>
                    </div>
                </div>
                <div class="row col s10 margin-bottom_no">
                    <div class="input-field col s3 js-status-container">
                        <div class="row margin-bottom_no valign-wrapper">
                            <div class="col s5 radio-cell">
                                <input class="with-gap" name="tr_filter" type="radio" id="transactions_need_accept" value="2" checked/>
                                <label for="transactions_need_accept">
                                    <i class="js-transactions-need-acception material-icons small my-badge my-badge_icon indigo-text" data-badge="0">notifications_active</i>
                                </label>
                            </div>

                            <div class="col s6 radio-cell">
                                <input class="with-gap" name="tr_filter" type="radio" id="transactions_all" value="0"/>
                                <label for="transactions_all">Все</label>
                            </div>
                        </div>
                        <!--<select class="js-status-select">-->
                            <!--<option value="0">Все</option>-->
                            <!--&lt;!&ndash;<option value="1">Подтвержденные</option>&ndash;&gt;-->
                            <!--<option value="2">Ожидают подтверждения</option>-->
                        <!--</select>-->
                    </div>
                    <div class="input-field col s3 js-projects-container"> </div>
                    <div class="js-date-range-container col s5"></div>
                    <a class="btn-floating waves-effect indigo margin-top_large float-right js-get-transactions"><i class="material-icons">refresh</i></a>
                </div>
            </div>
            <div class="transactions__table margin-sides_auto">
                <div class="row margin-bottom_no">
                    <div class="col s6">
                        <div class="js-start-balance-container"></div>
                    </div>
                    <div class="col s6">
                        <div class="js-end-balance-container float-right"></div>
                    </div>
                </div>
                <div class="js-transactions-table"></div>
            </div>
        </div>
    </div>
</div>
