.slogan-container {
  height: calc(100% - 64px);
  min-height: 600px;
  width: 100%;
  background: url("/static/images/sport1.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  &__slogan {
    box-sizing: border-box;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 30px;

    &__image {
      display: block;
      margin: 0 auto;
      height: 90px;
      width: auto;
    }

    @media (max-width: 600px) {
      &__header {
        text-align: center;
        font-size: 24px !important;
      }
      &__content {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 18px !important;
      }
    }
    @media (min-width: 600px) and (max-width: 1000px) {
      &__header {
        text-align: center;
        font-size: 4vw !important;
      }

      &__content {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 3vw !important;
      }
    }
    &__header {
      text-align: center;
    }
    &__content {
      padding: 0;
      margin: 0;
      text-align: center;
    }

    &__google-play {
      width: 200px;
      display: block;
      box-sizing: border-box;
      margin: 0 auto;

      &__image {
        box-sizing: border-box;
        width: 200px;
      }
    }

  }
}