$min-width: 400px;

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  min-width: $min-width;
}

#page {
  height: 100%;
  min-width: 600px;
}

#content {
  height: 100%;
}

.centerAlign {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
}

@import "slogan-container";
@import "mask";
@import "past-now";
@import "features";