<a href="#!" class="js-accept-tr green-text material-icons icon-btn" data-id="{{id}}">done</a>
<span class="text">&nbsp&nbsp</span>
<a href="#!" class="js-decline-tr red-text material-icons icon-btn" data-id="{{id}}">close</a>
