<div class="table__result">
    <div class="table__common-row">
        <div class="table__offset table__offset_2btn"></div>
        <div class="table__result__row">
            <div class="table__result__row__cell t5"></div>
            <div class="table__result__row__cell t10"></div>
            <div class="table__result__row__cell right-align t12">
                <span class="js-remainder text">{{#moneyFormat allGetted}}{{/moneyFormat}}</span>
            </div>
            <div class="table__result__row__cell right-align t12">
                <span class="js-remainder text">{{#moneyFormat allGiven}}{{/moneyFormat}}</span>
            </div>
            <div class="table__result__row__cell t5"></div>
            <div class="table__result__row__cell t56 right-align">
                <span class="js-remainder text text_title">Сальдо: </span>
                <span class="js-remainder text text_title">{{#moneyFormat saldo}}{{/moneyFormat}}</span>
            </div>
        </div>
    </div>
</div>
