<div class="table__offset table__offset_2btn"></div>
<div class="table__header-row__cell t5">
    статус
</div>
<div class="table__header-row__cell t10">
    дата
</div>
<div class="table__header-row__cell t12">
    дебет
    &nbsp;
    <a href="#!" class="js-create-debet-tr table__header-row__cell__btn material-icons icon-btn green-text">add</a>
</div>
<div class="table__header-row__cell t12">
    кредит
    &nbsp;
    <a href="#!" class="js-create-credit-tr table__header-row__cell__btn material-icons icon-btn green-text">add</a>
</div>
<div class="table__header-row__cell t56">
    комментарий
</div>
<div class="table__header-row__cell t5">
    ид
</div>

