<div class="modal-content">
    <div class="title">Вы уверены?</div>
    <div class="divider"></div>
    <p>Это действие нельзя будет отменить.</p>
</div>
<div class="modal-footer">
    <a href="#!" class="js-accept modal-action modal-close waves-effect waves-green btn-flat green-text">Подтвердить</a>
    <a href="#!" class="js-decline modal-action modal-close waves-effect waves-green btn-flat red-text">Отмена</a>
</div>