<!--<div class="chat">-->
    <div class="chat-title">
        <div class="chat__title-row">
            <div class="chat__header">Контрагент 1</div>
            <div class="chat__subheader">Проект 1</div>
            <figure class="avatar">
                <img  />
            </figure>
        </div>
        <a href="#chat-close" class="material-icons js-close">close</a>
    </div>
    <div class="messages">
        <div class="messages-content"></div>
    </div>
    <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Введите сообщение..."></textarea>
        <button type="submit" class="message-submit">Отпр.</button>
    </div>
<!--</div>-->