<div class="row margin-bottom_no">
    <div class="input-field col s6 m6">
        <label for="from">Период от</label>
        <input type="text" id="from" name="from">
    </div>

    <div class="input-field col s6 m6">
        <label for="to">Период до</label>
        <input type="text" id="to" name="to">
    </div>
</div>
