<div class="dialog-field__title valign-wrapper">
    <div class="dialog-field__title__text grey-text valign">{{title}}</div>
    <div class="dialog-field__title__btn-close">
        <a href="#" class="js-btn-cancel material-icons icon-btn grey-text text-darken-2">clear</a>
    </div>
</div>
<div class="divider margin-top_medium"></div>

<div class="row dialog-field__content margin-top_medium margin-bottom_no">

</div>

<!--<div class="dialog-field__footer">-->
<!--</div>-->
