<div class="table">
    <div class="table__header-row grey-text text-darken-2">
        {{#getTemplateByName hbsHeader .}}{{.}}{{/getTemplateByName}}
    </div>
    <div class="table__content grey-text">
        {{#getTemplateByName hbsContent .}}{{.}}{{/getTemplateByName}}
    </div>
</div>
<div class="table__results grey-text text-darken-2">
    {{#getTemplateByName hbsResults .}}{{.}}{{/getTemplateByName}}
</div>