<form class="col s12">
    <div class="row margin-bottom_no">
        <div class="input-field col s12">
            <input placeholder="Введите название" id="name" type="text" class="validate">
            <label for="username">Название проекта</label>
        </div>
    </div>
    <a class="margin-sides_medium js-btn-save btn-floating green accent-4">
        <i class="material-icons">save</i>
    </a>
</form>