<form class="col s12">
    <div class="row margin-bottom_no">
        <div class="input-field col s12">
            <input placeholder="Введите старый пароль" id="oldPassword" type="password" class="validate">
            <label for="oldPassword">Старый пароль</label>
        </div>
    </div>
    <div class="row margin-bottom_no">
        <div class="input-field col s12">
            <input placeholder="Введите новый пароль" id="newPassword" type="password" class="validate">
            <label for="newPassword">Новый пароль</label>
        </div>
    </div>
    <div class="row margin-bottom_no">
        <div class="input-field col s12">
            <input placeholder="Введите подтверждение" id="confirm" type="password" class="validate">
            <label for="confirm">Подтверждение</label>
        </div>
    </div>
    <a class="margin-sides_medium js-btn-save btn-floating green accent-4">
        <i class="material-icons">save</i>
    </a>
</form>