<div class="row  margin-bottom_no margin-top_medium">
    <div class="title col s10">Проекты</div>
    <a href="#!" class="js-projects-refresh material-icons icon-btn indigo-text float-right" style="margin-top: 6px">refresh</a>
</div>

<div class="collection">
    {{#projects}}
        <a href="#!" class="js-project-item collection-item" data-id="{{id}}">{{name}}<span class="secondary-content">{{#moneyFormat sum}}{{/moneyFormat}}</span></a>
    {{/projects}}
    <a href="#" class="collection-item">Сальдо <span class="secondary-content">{{#moneyFormat saldo}}{{/moneyFormat}}</span></a>
</div>
<a class="btn-floating waves-effect waves-light green accent-4 js-add-project"><i class="material-icons">add</i></a>
